*.onnx
*__pycache__*
*.rknn
.venv
requirements*.txt
rknn_toolkit2*.whl

debian/.debhelper
debian/rknn-model-zoo
/debian/files
debian/rknn-model-zoo.substvars
debian/debhelper-build-stamp
debian/rknn-model-zoo.debhelper.log